{% extends 'accounts/base.html'%}

{% block title%}<title>Assignment</title>{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        {% for assignment in assignment %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 w3-section">
            <div class="w3-card-4 ">
            <header class="w3-container w3-light-grey">
              <a href="{% url 'assignment:assignment' assignment.id %}"><h3>{{ assignment.title|truncatechars_html:15 }}</h3></a>
            </header>
            <div class="w3-container">
              <p>uploaded by:{{assignment.user}}</p>
              <hr>
              <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="{{assignment.discription}}"><p>{{assignment.discription|truncatechars_html:20}}</p></a>
            </div>
            <a href="{% url 'assignment:assignment' assignment.id %}"><button class="w3-button w3-block w3-light-grey"> solve</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 w3-section">
            <a href="{% url 'assignment:assignment_add' %}" class="btn">+add Assignment</a>
            <hr/>
            <a href="{% url 'assignment:uploadfile'%}"class="btn">+add study-material</a>
        </div>
    </div>
    <!--##############-->


    <div class="row">
            <div class="pagination">
                <span class="step-links">
                    {% if assignment.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ assignment.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ assignment.number }} of {{ assignment.paginator.num_pages }}.
                    </span>

                    {% if assignment.has_next %}
                        <a href="?page={{ assignment.next_page_number }}">next</a>
                        <a href="?page={{ assignment.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
</div>
{% endblock %}