{% extends 'accounts/base.html'%}
{% block title%}<title>Index</title>{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
                <div class="container-fluid">
                {% for name,list in dictionary.items %}
                    {%if list%}
                    <h3>{{name}}</h3>
                    <div class="row">
                        {% for assignment in list %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 w3-section">
                            <div class="w3-card-4 ">
                            <header class="w3-container w3-light-grey">
                              <a href="{% url 'assignment:assignment' assignment.id %}"><h3>{{ assignment|truncatechars_html:15 }}</h3></a>
                            </header>

                            <div class="w3-container">
                              <p>uploaded by:{{assignment.user}}</p>
                              <hr>
                              <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="{{assignment.discription}}"><p>{{assignment.discription|truncatechars_html:20}}</p></a>
                            </div>
                            <a href="{% url 'assignment:assignment' assignment.id %}"><button class="w3-button w3-block w3-light-grey"> solve</button></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {%endif%}
                {% endfor %}
                </div>
            </div>
        <div class="col-lg-4">
            <div class="widget widget_tag_cloud">
              <h2 class="widget-title">Popular Tag</h2>
              <div class="popular-box">
                  <ul>
                      <li> <a href="{% url 'assignment:index_jee_main' %}">jee-main</a> </li>
                      <li> <a href="{% url 'assignment:index_jee_adv' %}">jee-adv</a> </li>
                      <li> <a href="{% url 'assignment:index_ssc' %}">ssc</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">GATE-CS</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">GATE-Civil</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">GATE-EE</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">GATE-ECE</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">GATE-ME</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">GATE-MT</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">banking</a> </li>
                      <li> <a href="{% url 'assignment:index_others' %}">others</a> </li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}