{% extends 'accounts/base.html'%}
{% block style %}
<style>
.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>
{% endblock %}
{% block heading %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>{% endblock %}
{% block body %}
<div class="container w3-card-4">

    <h1 class="w3-myfont">{{ assignment.title|title }}</h1>

        {% if request.user == assignment.user %}
            <small><a href="{% url 'assignment:question_add' assignment.id %}" > +add question</a></small>
        {% endif %}
    <hr/>

    <form action="{% url 'assignment:assignment_check' assignment.id %}" method="post">
        {% csrf_token %}
        <div class="w3-container">
    <ol>
    {% for question in assignment.questions_set.all %}

        <li class="w3-section">
            <div class="w3-card-4" >
                <header class="w3-container w3-light-grey">
                    <h3>{{ question.question }}
                        <p class="w3-right">
                            {% if request.user == assignment.user%}
                                <a href="{% url 'assignment:question_update' question.id %}">edit </a>
                                <a href="{% url 'assignment:question_delete' question.id %}">delete </a>
                            {% endif %}
                        </p>
                    </h3>
                    {% if question.image %}
                    <img src="{{question.image.url }}" >
                    {% endif %}
                </header>
                <div class="w3-container">

                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="inlineRadio1{{ forloop.counter }}">a)</label>&nbsp;
                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions{{ forloop.counter }}" id="inlineRadio1{{ forloop.counter }}" value="a" onclick="selectOnlyThis(this)">
                      <label class="form-check-label" for="inlineRadio1{{ forloop.counter }}">{{question.option_a}}</label>
                    </div>
                    <hr>

                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="inlineRadio2{{ forloop.counter }}">b)</label>&nbsp;
                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions{{ forloop.counter }}" id="inlineRadio2{{ forloop.counter }}" value="b" onclick="selectOnlyThis(this)">
                      <label class="form-check-label" for="inlineRadio2{{ forloop.counter }}">{{question.option_b}}</label>
                    </div>
                    <hr>

                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="inlineRadio3{{ forloop.counter }}">c)</label>&nbsp;
                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions{{ forloop.counter }}" id="inlineRadio3{{ forloop.counter }}" value="c" onclick="selectOnlyThis(this)">
                      <label class="form-check-label" for="inlineRadio3{{ forloop.counter }}">{{question.option_c}}</label>
                    </div>
                    <hr>

                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="inlineRadio4{{ forloop.counter }}">d)</label>&nbsp;
                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions{{ forloop.counter }}" id="inlineRadio4{{ forloop.counter }}" value="d" onclick="selectOnlyThis(this)">
                      <label class="form-check-label" for="inlineRadio4{{ forloop.counter }}">{{question.option_d}}</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" style="display:none" type="checkbox" name="inlineRadioOptions{{ forloop.counter }}" id="inlineRadio5{{ forloop.counter }}" value="z" onclick="selectOnlyThis(this)" checked>
                    </div>
                    </div>
            </div>
        </li>
    {% endfor %}
    </ol>
            <div class="w3-center">
                <button type="submit" class="w3-light-gray w3-hover-black w3-button">submit</button>
            </div>
        </div>
    </form>
    <div class="w3-container w3-card-4 w3-center">
        <div class="btn-group">
            {%if user in assignment.assignmentlikecounter.user.all%}
            <a href="{%url 'assignment:like' assignment.id %}" ><button class="w3-bar-item w3-button w3-light-gray ">Liked<span class="badge">{{assignment.assignmentlikecounter.number_of_like}}</span></button></a>
            {% else %}
            <a href="{%url 'assignment:like' assignment.id %}" ><button class="w3-bar-item w3-button">Like<span class="badge">{{assignment.assignmentlikecounter.number_of_like}}</span></button></a>
            {%endif%}
            <a href="{% url 'home:assignment-discussion' assignment.id %}"class="w3-bar-item w3-button"> Discuss<span class="badge">{{assignment.assignment_discussion_set.all|length}}</span></a>
            <button class="w3-bar-item w3-button ">Share<span class="badge">5</span></button>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    function selectOnlyThis(id){
var check=id.checked;
n=id.name;

b=$("input[name*='"+n+"']");
  Array.prototype.forEach.call(b,function(el){
  	el.checked = false;
  });
   if(check==true){
  id.checked = true;

  }
  else{
  b[4].checked=true;
  }
}
</script>

{% endblock %}
