{% extends 'accounts/base.html'%}
{% load class_name %}
{% block title%}
<title>Search result</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="w3-container">
                  <h3 class="widget-title">results for <b>{{query}}</b></h3>
                  <ul class="w3-ul w3-card">
                      {% for object in object_list %}
                            {% with object|class_name as klass %}
                              {% if klass == 'Assignment' %}
                              <li>
                                  <a href="{% url 'assignment:assignment' object.id %}"target="_blank">Assignment: {{ object.title }}</a>
                              </li>
                              {% elif klass == 'Booklet' %}
                                <li>
                                  <a href='{{object.document.url}}' target="_blank">Booklet: {{ object.name }} </a>
                                </li>
                              {% elif klass == 'UserAccount' %}
                                    <li>
                                      Profile: <a href="{% url 'accounts:view_profile_with_pk' object.id %}" target="_blank">Profile: {{object}} </a>
                                    </li>
                              {% else %}
                                      <li>
                                          <a href=''>{{ object }} | {{ object|class_name }}</a>
                                      </li>
                                {% endif %}
                            {% endwith %}
                        {% empty %}
                        {% endfor %}
                  </ul>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="widget widget_tag_cloud">
                  <h2 class="widget-title">Popular Tag</h2>
                  <div class="popular-box">
                      <ul>
                          <li> <a href="{% url 'assignment:index_jee_main' %}">jee-main</a> </li>
                          <li> <a href="{% url 'assignment:index_jee_adv' %}">jee-adv</a> </li>
                          <li> <a href="{% url 'assignment:index_ssc' %}">ssc</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">GATE-CS</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">GATE-Civil</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">GATE-EE</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">GATE-ECE</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">GATE-ME</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">GATE-MT</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">banking</a> </li>
                          <li> <a href="{% url 'assignment:index_others' %}">others</a> </li>
                      </ul>
                  </div>
            </div>
        </div>
     </div>
</div>
{% endblock %}