{% extends 'accounts/base.html'%}
{% load class_name %}
{% block title%}
<title>result</title>
{% endblock %}


{% block body %}

<div class='row title-row my-5'>
    <div class='col-12 py-0'>
        <h3 class='my-0 py-0'> results for <b></b></h3>
    </div>
</div>


{% for object in object_list %}
    {% with object|class_name as klass %}
      {% if klass == 'Assignment' %}
           <div class='row'>
             <div class='col-12 col-lg-8 offset-lg-4'>
                Assignment: <a href="{% url 'assignment:assignment' object.id %}">{{ object.title }}</a>
            </div>
          </div>

      {% elif klass == 'Studymaterial' %}
           <div class='row'>
             <div class='col-12 col-lg-8 offset-lg-4'>
                Stydymaterial Item: <a href='{{object.document.url}}'>{{ object.name }}</a>
              </div>
            </div>

      {% elif klass == 'Profile' %}
           <div class='row'>
                <div class='col-12 col-lg-8 offset-lg-4'>
                   Profile Item: <a href=''>{{ object.title }}</a>
                </div>
            </div>
      {% else %}
           <div class='row'>
             <div class='col-12 col-lg-8 offset-lg-4'>
                <a href=''>{{ object }} | {{ object|class_name }}</a>
            </div>
           </div>
        {% endif %}

    {% endwith %}

{% empty %}
{% endfor %}

{% endblock %}